
html{
	
	background-color:#9aa88b;
	
	
}
hr{
	font:3px;
	
	
	
}
body{
	width: 70%;
	margin: 0 auto;
	font: 100% Arial, Helvetica, sans-serif;
	padding: 1em 50px;
	background:grey;
	border-bottom: 10px solid gold;
	
}
h1,h3{
  letter-spacing:2px;
	font-size:150%

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
	bottom:14%;
	position:relative;
	
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
	background-color:#beb094;

}

 ol{
	 margin-left:4%;
 }
li{
	
	height:24px;
	
}
footer{
	bottom:2px;
	background-color:#75777a
}

